* {
  box-sizing: border-box;
}
.App {
  display: flex;
  padding: 15px;
}
.App .Meta {
  flex-grow: 1;
  padding-right: 15px;
}
.App .Meta input {
  font-family: inherit;
  padding: 5px;
  width: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.App .Meta button {
  padding: 10px 15px;
  border: 2px solid #87ceeb;
  background-color: #33f3fb;
  font-family: inherit;
  margin: 20px 0;
  border-radius: 10px;
  cursor: pointer;
}
.App #downloadWrapper {
  padding: 10px;
}


.App #certificateWrapper {
  box-shadow: 0 0 5px #000;
  border-radius: 10px;
  margin: 10px;
  color: white;

  /* Ensure text wraps */
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;

  /* Optional: ensure content stays inside */
  /* overflow: hidden; */
}

.App #certificateWrapper img {
  display: block;
  width: 60rem;
  /* height: rem; */
}
.App #certificateWrapper p {
  font-family: 'Noto Sans Devanagari', 'Mangal', sans-serif;
  margin: 0;
  position: absolute;
  left: 100px;
  right:100px;
  top: 150px;
  line-height: 60px;
  font-size: 30pt;
}

#certificateWrapper {
  position: relative;
  display: inline-block;
  box-shadow: 0 0 5px #000;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
  color: white;
  font-family: 'Noto Sans Devanagari', sans-serif;
}

#certificateWrapper img {
  display: block;
  width: 100%;
  height: auto;
}

#certificateWrapper p {
  position: absolute;
   top: 100%; 
  /* left: 50%; Center horizontally */ 
  /* transform: translate(-50%, -50%); */
  margin: 0;
  padding: 10px;
  color: white;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  /* overflow-wrap: break-word; */
}


